<head>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main>
    <a href="/static/source.zip">Source code</a><br>
    Hello <%= user.username %><br><br>
    Here is your secret <code><%= secret %></code>
  </main>
</body>
